<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clean Blog - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
        type='text/css'>
    <link
        href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
        rel='stylesheet' type='text/css'>
</head>

<div class="container-fluid">
    <div class="row min-vh-100 flex-column flex-md-row">
        <aside class="col-12 col-md-2 p-0 bg-dark flex-shrink-1">
            <nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start py-2">
                <div class="collapse navbar-collapse ">
                    <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                        <li class="nav-item">
                            <a class="nav-link pl-0 text-nowrap" href="admin-home"><i class="fa fa-home fa-fw"></i> <span
                                    class="font-weight-bold">Home</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-0" href="admin-blogs"><i class="fa fa-book fa-fw"></i> <span
                                    class="d-none d-md-inline">Blog Posts</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-0" href="#"><i class="fa fa-user-plus fa-fw"></i> <span
                                    class="d-none d-md-inline">People</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </aside>
        <main class="col bg-faded py-3 flex-grow-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 min-vh-100 d-flex flex-column justify-content-left">
                        <div class="row">
                            <!-- <div class="col-lg-8 col-md-8 mx-auto"> -->
                            <div class="col col-lg-8 col-md-12 align-self-start">
                                <div class="card rounded shadow shadow-sm">
                                    <div class="card-header">
                                        <h3 class="mb-0">Add Blog Post</h3>
                                    </div>
                                    <div class="card-body">
                                        <form method="POST" action="/create-post" id="addPostForm">
                                            <div class="form-group">
                                                <label for="title">Title</label>
                                                <input type="text" class="form-control form-control-lg rounded-0"
                                                    name="title" id="title" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="source">Source</label>
                                                <input type="text" class="form-control form-control-lg rounded-0"
                                                    name="source" id="source" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="blogPostText">Content</label>
                                                <textarea class="form-control" id="blogPostText" name="blogPostText"
                                                    rows="3" form="addPostForm" required></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-primary btn-lg float-right"
                                                id="btnAddPost">Create
                                                Post</button>
                                        </form>
                                    </div>
                                </div>
                                <hr>
                                <h3>
                                    Blog posts
                                </h3>
                                <!-- TODO here will be the post list from DB when ejs will be reasy -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>